@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

html {
    font-family: "Noto Sans JP", sans-serif;
    color: #ffffff;
}

body {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 6px;
    }
}

.material-icons {
    font-family: "Material Icons";
}
